@import "tailwindcss";
/*@source "tailwindcss/";*/
@source "node_modules/tailwindcss";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 2rem;
    background: black;
    color: white;
}

#quantityGroup1 label,
#quantityGroup2 label,
#quantityGroup3 label {
    display: inline-block;
    margin-right: 15px;
}

#layout1Group label,
#layout2Group label,
#layout3Group label {
    display: inline-block;
    margin-right: 15px;
}

.hidden {
    display: none;
}

label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

input {
    padding: 0.3rem;
    margin-bottom: 1rem;
    justify-content: center;
}

button {
    margin-right: 0.5rem;
}

.btn {
    @apply font-bold py-1 px-1 rounded-2xl;

}

.btn-blue {
    @apply bg-blue-100 text-black;
}

.btn-blue:hover {
    @apply bg-blue-500;
}

.btn-red {
    @apply bg-red-300 text-black;
}
.btn-red:hover {
    @apply bg-red-500;
}

.btn-green {
    @apply bg-green-200 text-black;
}

.btn-green:hover {
    @apply bg-green-500;
}

.btn-disabled {
    @apply opacity-50 bg-gray-400 text-gray-800 cursor-not-allowed;
}
